.advantage {
  margin-bottom: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.advantage__item {
  width: 570px;
  min-height: 300px;
  padding: 37px 45px 50px;
  margin-bottom: 30px;

  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.3s linear;

  &:hover,
  &:focus {
    background-color: #00B2FF;
    border-color: #00B2FF;

    &.advantage__item h3,
    &.advantage__item p {
      color: #ffffff;
    }

    &.advantage__item div {
      fill: #ffffff;
    }
  }
}

.advantage__item div {
  fill: #00B2FF;
}

.advantage__item h3 {
  margin-top: 14px;
  margin-bottom: 15px;

  font-family: $font-roboto;
  font-size: 24px;
  line-height: 34px;
  color: #00B2FF;
  font-weight: 400;
}

.advantage__item p {
  margin: 0;
  
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 1600px) {
  .advantage__item {
    width: 485px;
  }
}

@media (max-width: $desktop-width) {
  .advantage {
    padding: 0 25px;
    margin-bottom: 25px;
  }

  .advantage__item {
    padding: 24px 18px 20px 25px;
    width: calc((100% - 30px) / 2);
    min-height: 232px;
  }

  .advantage__item svg {
    width: 32px;
  }

  .advantage__item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .advantage__item p {
    margin: 0;
  }

}


@media (max-width: $tablet-width) {
  .advantage {
    padding: 0 18px 0 12px;
    margin-bottom: 37px;
  }

  .advantage__item {
    width: 100%;
    margin-bottom: 20px;
    padding: 24px 18px 23px 25px;
  }

  .advantage__item h3 {
    margin-top: 6px;

    font-size: 20px;
    line-height: 28px;
  }


}
