.footer {
  padding-top: 65px;
}

.footer a,
.footer__top-nav-contacts p {
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.8;
  }
}

.footer a {
  transition: all 0.3s linear;
}

.footer p {
  margin: 0;
}

.footer__top {
  width: $desktop-content-width;
  margin: 0 auto;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;

  text-align: left;
}

.footer__top ul {
  padding: 0;
  margin: 0;
  display: flex;

  list-style: none;
}

.footer__top-social {
  width: 36%;
}

.footer__top-social a {
  opacity: 1;
}

.footer__top-social ul {
  margin-top: 50px;
  flex-wrap: wrap;
}

.footer__top-social ul li {
  margin-right: 15px;
  transition: all 0.3s linear;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }

  &:last-child {
    margin: 0;
  }
}

.footer__top-nav {
  display: flex;
}

.footer__top-nav h3 {
  margin: 0;
  margin-bottom: 27px;

  font-family: $font-roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B2D37;
}

.footer__top-nav h3 span {
  display: none;
}

.footer__top-nav nav ul {
  display: flex;
  flex-wrap: wrap;
}

.footer__top-nav nav ul li {
  width: 47%;
}

.footer__top-nav-contacts {
  display: flex;
  flex-direction: column;
  width: 43%;
}

.footer__top-nav-contacts > div {
  display: flex;
  flex-direction: column;
}

.footer__bottom {
  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 1px solid #dcdddc;
}

.footer__bottom-wrap {
  width: $desktop-content-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer__bottom-wrap p {
  margin-right: 75px;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B2D37;
  opacity: 0.5;

  &:nth-child(2) {
    margin-right: 140px;
  }
}

.footer__bottom-wrap a {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
}

.footer__top-social p {
  display: none;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B2D37;
  opacity: 0.5;
}

.footer__bottom-dev {
  margin-left: auto;
}

@media (max-width: 1600px) {
  .footer__top,
  .footer__bottom-wrap {
    width: 1000px;
  }  

  .footer__top-social {
    width: 30%;
  }

  .footer__top-nav {
    width: 70%;
  }

  .footer__top-nav nav ul li {
    padding-right: 20px;
  }

  .footer__top-nav nav {
    width: 67%;
  }

  .footer__top-nav-contacts {
    width: 33%;
  }

  .footer__bottom-wrap p {
    margin-right: 30px;
  
    &:nth-child(2) {
      margin-right: 100px;
    }
  }
}


@media (max-width: $desktop-width) {
  .footer {
    padding-top: 21px;
  }

  .footer__top,
  .footer__bottom-wrap {
    width: $tablet-content-width;
  } 
  
  .footer__top {
    flex-wrap: wrap;
    margin-bottom: 35px;
  } 

  .footer__top-social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      bottom: 0;
      left: calc((100vw - 720px) / -2);

      background-color: #dcdddc;
    }
  }

  .footer__top-social p {
    display: block;
    padding-left: 25px;
  }

  .footer__top-social ul {
    margin-top: 0;
  }

  .footer__top-nav {
    width: 100%;
  }

  .footer__top-nav nav,
  .footer__top-nav-contacts {
    width: 50%;
  }

  .footer__top-nav-contacts {
    padding-left: 15px;
  }

  .footer__top-nav nav ul li {
    width: 100%;

    &:nth-child(even) {
      order: 1;
    }
  }

  .footer__bottom {
    padding-top: 20px;
  }

  .footer__bottom-wrap p {
    display: none;
  }

}


@media (max-width: $tablet-width) {
  .footer {
    padding-top: 45px;
  }

  .footer__top,
  .footer__bottom-wrap {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }

  .footer__top-social {
    flex-direction: column;

    &::after {
      content: "";
      left: -15px;
    }
  }

  .footer__top-social {
    padding-bottom: 45px;
    margin-bottom: 30px;
  }

  .footer__top-social p {
    padding: 0;
    margin: 28px 0 32px;
  }

  .footer__top-nav {
    flex-direction: column;
    width: 100%;
  }

  .footer__top-nav nav, 
  .footer__top-nav-contacts {
    width: 100%;
    padding: 0;
  }

  .footer__top-nav nav {
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      bottom: 0;
      left: -15px;

      background-color: #dcdddc;
    }
  }

  .footer__top-nav h3 {
    display: flex;
    justify-content: space-between;
  }

  .footer__top-nav h3 span {
    display: block;
    font-family: $main-font;
    color: #C4C4C4;
    font-size: 30px;
    cursor: pointer;
  }

  .footer__top-nav nav ul {
    margin-bottom: 30px;
    display: none;
  }

  .footer__top-nav h3 {
    margin-bottom: 28px;
  }

  .footer__top-nav-contacts > div {
    margin-bottom: 30px;
    display: none;
  }

  .footer__bottom {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer__bottom-wrap {
    flex-direction: column;
  }

  .footer__bottom-dev {
    margin: 0;
    margin-top: 22px;
  }
}
