.history {
  display: flex;
  justify-content: space-between;

  text-align: left;
}

.history__info h3 {
  margin-top: 0;
  margin-bottom: 25px;

  font-family: $font-roboto;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.history__info p {
  font-size: 16px;
  line-height: 22px;
}

.history__info a {
  display: block;
  width: 180px;
  padding: 16px 48px 12px;
  margin-top: 40px;

  border: 1px solid #00B2FF;
  border-radius: 5px;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00B2FF;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.history__img {
  position: relative;
  width: 115px;
  height: 320px;
}

.history__img img {
  position: absolute;
  max-width: max-content;
  right: 0;
  top: 10px;
}

.history__info {
  width: 990px;
}


@media (max-width: 1600px) {
  .history__info {
    width: 830px;
  }
}

@media (max-width: $desktop-width) {
  .history__img {
    width: 130px;
    height: 360px;
  }

  .history__img img {
    top: 0;
  }

  .history__info {
    width: calc(100% - 185px);
  }

  .history__info a {
    margin-top: 42px;
  }

  .history__info h3 {    
    font-size: 32px;
    line-height: 45px;
  }

  .history__info p {
    margin-bottom: 20px;
  }
}


@media (max-width: $tablet-width) {
  .history__img {
    display: none;
  }

  .history__info {
    width: 100%;
  }

  .history__info h3 {
    margin-bottom: 20px;

    font-size: 28px;
    line-height: 39px;
  }

  .history__info p {
    margin-bottom: 40px;
  }
  
  .history__info a {
    margin-top: -12px;
  }

}
