.offer {
  width: $desktop-content-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.offer__text {
  text-align: left;
  color: #FFFFFF;
  width: 55%;
}

.offer__img {
  width: 45%;
  height: 515px;
  position: relative;

  background-image: url("../img/offer-back.svg");
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
}

.offer__img img {
  position: absolute;
  left: 10px;
  top: 13px;
  width: 705px;
  height: 515px;
  max-width: 705px;
  max-height: 515px;
}

.offer__text h1 {
  margin: 69px 0 27px;

  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.offer__text p {
  margin: 0;
  margin-bottom: 45px;
  padding-left: 94px;
  position: relative;

  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";

    position: absolute;
    width: 65px;
    height: 2px;
    top: 17px;
    left: 0;

    background-color: #FFFFFF;
  }
}

.offer__text a {
  margin-left: 94px;
  display: block;
  max-width: 407px;
  padding: 18px 43px;

  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00B2FF;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.offer__scroll {
  margin-top: -35px;
  margin-left: -30px;
  
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.5;
  transform: rotate(-90deg);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: 1600px) {
  .offer {
    width: 1000px;
  }  

  .offer__img {
    height: 430px;

    background-size: cover;
  }

  .offer__img img {
    width: 500px;
    height: auto;
    top: 40px;
    left: -50px;
  }

  .offer__scroll {
    margin-top: 135px;
    margin-left: -45px;
  }
}


@media (max-width: $desktop-width) {
  .offer {
    width: $tablet-content-width;
  }

  .offer__text {
    width: 500px;
    padding-left: 63px;
  }

  .offer__text h1 {
    margin-top: 80px;

    font-size: 60px;
    line-height: 70px;
  }

  .offer__text p {
    padding-left: 50px;
    margin-bottom: 57px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 30px;
    }  
  }

  .offer__text a {
    max-width: 380px;
    margin-left: 50px;
    padding: 18px 30px;
  }

  .offer__img {
    position: absolute;
    top: 75px;
    right: 0;
    width: 350px;
    height: 395px;
    background-position-y: 108%;
    background-position-x: -12%;
    background-size: 150%;
  }

  .offer__img img {
    left: auto;
    right: 0;
    top: 37px;
    width: 255px;
  }

  .offer__scroll {
    display: none;
  }
}


@media (max-width: $tablet-width) {
  .offer {
    width: 100%;
    padding: 0 15px;
  }

  .offer__text {
    width: 100%;
    padding-left: 0;
  }

  .offer__text h1 {
    margin-top: 195px;
    margin-bottom: 27px;
    position: relative;
    z-index: 10;

    font-size: 40px;
    line-height: 47px;
  }

  .offer__text p {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 25px;

    &::before {
      width: 34px;
    }
  }

  .offer__text a {
    width: 100%;
    max-width: 290px;
    margin-left: 0;
  }

  .offer__img {
    top: 75px;
    right: 0;
    width: 100%;

    background-position-y: 124%;
    background-position-x: -78%;
    background-size: 160%;
  }

  .offer__img img {
    top: 20px;
    width: 300px;
  }

}
