.page-header {
  padding-top: 35px;
  padding-bottom: 120px;

  background-color: #1B2931;
  background-image: url("../img/header-back.png");
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: $desktop-width) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 163px;
    position: relative;
  }
}


@media (max-width: $tablet-width) {
  .page-header {
    padding-bottom: 70px;
  }
}