.products {
  background: #1B2D37;
  text-align: left;
}

.products__wrap {
  width: 1170px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 80px;
}

.products h2 {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.products ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.products li {
  width: 370px;
  height: 625px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;

  background-image: url("../img/product-1.png");
  border: 2px solid #1B2D37;
  background-repeat: no-repeat;

  &:nth-child(2) {
    background-image: url("../img/product-2.png");
  }

  &:last-child {
    background-image: url("../img/product-3.png");
  }

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 63px;
    height: 63px;

    background: #00B2FF;
    cursor: pointer;
  }

  &::before {
    right: 27px;
    bottom: 27px;
    width: 10px;
    height: 10px;
    z-index: 10;

    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    border: 2px solid #00B2FF;
  }
}

.products a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 160px;

  font-family: "Roboto Condensed";
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .products__wrap {
    width: 1000px;
  }  

  .products li {
    width: 313px;
  }  

  .products a {
    padding-right: 90px;
  }
 
}


@media (max-width: $desktop-width) {
  .products__wrap {
    width: 100%;
    padding: 0 25px;
    padding-bottom: 13px;
  }

  .products ul {
    flex-direction: column;
  }

  .products li {
    width: 100%;
    height: 260px;
    margin-bottom: 45px;

    background-image: url("../img/product-1-p.png");
    background-size: cover;
  
    &:nth-child(2) {
      background-image: url("../img/product-2-p.png");
    }
  
    &:last-child {
      background-image: url("../img/product-3-p.png");
    }
  }

  .products h2 {
    margin-bottom: 45px;

    font-size: 32px;
    line-height: 45px;
  }

  .products__wrap {
    padding-top: 50px;
  }

  .products a {
    padding-top: 41px;
    padding-left: 43px;
    padding-right: 71%;
  }
}


@media (max-width: $tablet-width) {
  .products {
    padding-bottom: 35px;
  }

  .products__wrap {
    padding: 0 15px;
    padding-top: 50px;
  }

  .products ul {
    margin: 0;
  }

  .products li {
    margin-bottom: 26px;

    background-image: url("../img/product-1-m.png");
  
    &:nth-child(2) {
      background-image: url("../img/product-2-m.png");
    }
  
    &:last-child {
      background-image: url("../img/product-3-m.png");
    }

    &::before {
      right: 30px;
      bottom: 28px;
      width: 6px;
      height: 6px;
    }
  }

  .products h2 {
    margin-bottom: 40px;
    padding-left: 10px;
    font-size: 28px;
    line-height: 39px;
  }

  .products a {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 35%;
  }
  
}
