.products {
  background: #1B2D37;
  text-align: left;
}

.products > div {
  padding-top: 88px;
  padding-bottom: 94px;
}

.products h2 {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: $font-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
}

.products ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  &::after {
    content: "";
    width: 32%;
  }
}

.products li {
  width: 32%;
  height: 625px;
  position: relative;
  margin-bottom: 30px;

  border: 2px solid #1B2D37;
  transition: all 0.3s linear;

  &::after,
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;

    background: #00B2FF;
    cursor: pointer;
  }

  &::before {
    right: 27px;
    bottom: 27px;
    width: 10px;
    height: 10px;
    z-index: 10;

    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    border: 2px solid #00B2FF;
  }
}

.products li p {
  margin: 0;
}

.products li img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.products a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 160px;

  font-family: $font-roboto;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .products li {
    width: 313px;
  }  

  .products a {
    padding-right: 90px;
  }
 
}


@media (max-width: $desktop-width) {
  .products > div {
    padding: 50px 25px 36px;
  }

  .products ul {
    flex-direction: column;
  }

  .products li {
    width: 100%;
    height: 260px;
    margin-bottom: 42px;
  }

  .products h2 {
    margin-bottom: 45px;

    font-size: 32px;
    line-height: 45px;
  }

  .products a {
    padding-top: 41px;
    padding-left: 43px;
    padding-right: 71%;
  }
}


@media (max-width: $tablet-width) {
  .products {
    padding-bottom: 35px;
  }

  .products > div {
    padding: 0 15px;
    padding-top: 50px;
  }

  .products ul {
    margin: 0;
  }

  .products li {
    margin-bottom: 26px;

    &::before {
      right: 30px;
      bottom: 28px;
      width: 6px;
      height: 6px;
    }
  }

  .products h2 {
    margin-bottom: 40px;
    padding-left: 10px;
    font-size: 28px;
    line-height: 39px;
  }

  .products a {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 35%;
  }
  
}
