$main-color: #666666;

$main-font: "PT Mono", "Courier New", monospace;

$font-roboto: "Roboto Condensed", "Arial", sans-serif;

$tablet-width: 767px;

$tablet-content-width: 720px;

$desktop-width: 1024px;

$desktop-content-width: 1410px;



